input {
    width: 250px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 7px;
}

button {
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 7px;
    cursor: pointer;
}

.search {
    background-color: #0a550a;
}

.clear {
    background-color: #b12a2a;
}