#root {
  min-width: 500px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.searchBarContainer {
  margin: 40px 0 25px 0;
  text-align: center;
}

.tracklistContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

@media (max-width: 800px) {
  .tracklistContainer {
    grid-template-columns: 1fr;
  }
}